/*Univeral Page Styles*/

* {
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: 'Noto Sans', sans-serif;
}

body {
    font-family: 'Noto Sans';
    text-align: center;
    font-size: 16px;
    line-height: 1.5;
}

/*Navigation styling*/

.logo {
    padding: 0;
    float:left;
}

nav {
    display:flex;
    align-items: center;
    justify-content: space-between;
    z-index: 3;
    flex-wrap: wrap;
    padding: 15px;
}

.nav-ul {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    list-style-type: none;
}

.main-nav li {
    display: inline-block;
    margin: 10px;
}

a {
    color: black;
    text-decoration: none;
}

a:hover {
    font-weight: 800;
}

.hamburger{
    color:black;
    font-size: 20px;
    width: 40px;
    display: none;
    border: 0;
    margin-top: 0;

}
/*Container div for beginning info*/
.dateHelper {
    margin: 10%;
    overflow: hidden;
}

/*animation for the header upon loading*/

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 100%;
    }
}

/*Animation fade happens to this & then animation changes opacity to 100% afterwards*/
h1 {
    opacity: 0%;
    animation-name: fadeIn;
    animation-duration: 6s;
    animation-delay: 2s;
    animation-fill-mode: forwards;
}

@keyframes slideLeft {
    from {
        margin-left: 100%;
        width: 300%;
    }
    to {
        margin-left: 0%;
        width: 100%;
    }
}
#helper-link {
    animation-name: slideLeft;
    animation-duration: 2s;
}

@keyframes slideRight {
    from {
        margin-right: 100%;
        width: 300%;
    }
    to {
        margin-right: 0%;
        width: 100%;
    }
}
#second-para {
    animation-name: slideRight;
    animation-duration: 2s;
}


.bgimagecontainer1 {
    width: 100vw;
    height: 50vh;
    background-image: url('Assets/priscilla-du-preez-ELnxUDFs6ec-unsplash.jpg');
    background-position: center;
    background-size: cover;
    background-attachment:fixed;
}

.science {
    margin: 10%;
}

.bgimagecontainer2 {
    width: 100vw;
    height: 50vh;
    background-image: url('Assets/jonathan-j-castellon-be8AmxavYp8-unsplash.jpg');
    background-position: center;
    background-size: cover;
    background-attachment:fixed;
}

.testimonials {
    margin: 10%;
}

.testimonials p {
    margin-bottom: 10px;
}

.bgimagecontainer3 {
    width: 100vw;
    height: 50vh;
    background-image: url('Assets/priscilla-du-preez-KnAhRJHeI7A-unsplash.jpg');
    background-position: center;
    background-size: cover;
    background-attachment:fixed;
}

.try-now{
    margin: 10%;
}

button {
    width: 150px;
    background-color: white;
    font-size: 1.5em;
    border: 2px solid black;
    border-radius: 9px;
    margin-top: 30px;
}

/*Javascript container for generated pickuplines*/
#generated {
    margin-top: 30px;
}

@media only screen and (min-width: 320px) and (max-width: 480px) {
   
    .nav-container {
        padding-bottom: 3em;
        font-size: 1em;
    }
    .main-nav li {
        margin-left: 0%;
    }
    .nav-ul {
        display: none;
        width: 100%;
        flex-direction: column;
    }

    .nav-ul.show {
        display: flex;
    }
    
    .hamburger {
        display: block;
    }
}